<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="p-3">
    <table class="table border-dark border table-bordered">
        <thead>
            <tr>
                <th colspan="10" class="text-center">
                    <h1>PARTY SHOP</h1>
                    <b>
                        GEO ENTERPRISES, 23/10, 1st Floor, A wing, 3rd Main Rd, 
                        Kasthuribai Nagar, Adyar , Chennai, Tamil Nadu 600020.
                        Mobile - +91 98400 98842
                    </b>
                    <br>
                    <b>
                        GSTIN: 33AGYC4389C1Z8
                    </b>
                </th>
            </tr>
            <tr>
                <th colspan="5" style="vertical-align: top;">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th>
                                    Customer Details :
                                    CUST
                                </th>
                                <td>
                                    -
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    GSTIN : 
                                </th>
                                <td>
                                    -
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Email : 
                                </th>
                                <td>
                                    -
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </th>
                <th colspan="5">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th>Invoice No. :</th>
                                <td>CSK5</td>
                            </tr>
                            <tr>
                                <th>Invoice Date:</th>
                                <td>15/03/2022</td>
                            </tr>
                            <tr>
                                <th>Pay Mode</th>
                                <td>
                                    Cash
                                </td>
                            </tr>
                            <tr>
                                <th>Branch</th>
                                <td>
                                    -
                                </td>
                            </tr>
                            <tr>
                                <th>Place of Supply:</th>
                                <td>
                                    -
                                </td>
                            </tr>
                            <tr>
                                <th>PO No & Date:</th>
                                <td>
                                    -
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </th>
            </tr>
        </thead>
        <tbody >
            <tr>
                <th>No. </th>
                <th>Description of Goods </th>
                <th>HSN/SAC .</th>
                <th>Qty </th>
                <th>UoM</th>
                <th>List Price</th>
                <th>MRP</th>
                <th>CGST %</th>
                <th>SGST %</th>
                <th>Sub Total</th>
            </tr>
            <tr >
                <td> 1 </td>
                <td> FOIL NO. 2 4O" RG </td>
                <td> 9905</td>
                <td> 1</td>
                <td> </td>
                <td> 40.00 </td>
                <td> 20 </td>
                <td> 9.00 </td>
                <td> 9.00 </td>
                <td> 40.00</td>
            </tr>
            <tr>
                <th colspan="8" rowspan="5">
                    <b>Amount in Words:
                        Rupees Forty-Eight Only</b>
                </th>
                <th>Sub Total</th>
                <th>40.00</th>
            </tr>
            <tr>
                <th>CSGT</th>
                <th>30.60</th>
            </tr>
            <tr>
                <th>SSGT</th>
                <th>30.60</th>
            </tr>
            <tr>
                <th>Round off</th>
                <th>0.60</th>
            </tr>
            <tr>
                <th>Grand Total</th>
                <th>48.60</th>
            </tr>
            <tr>
                <td colspan="10">
                    <table class="table table-bordered m-0">
                        <thead>
                            <tr>
                                <th rowspan="2">HSN Code</th>
                                <th rowspan="2">Taxable Amt</th>
                                <th colspan="2" class="text-center">CGST</th>
                                <th colspan="2" class="text-center">SGST</th>
                                <th rowspan="2">Grand Total</th>
                            </tr>
                            <tr>
                                <th>%</th>
                                <th>Amt</th>
                                <th>%</th>
                                <th>Amt</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>195.00</td>
                                <td class="text-end">9%</td>
                                <td class="text-end">17.55</td>
                                <td class="text-end">9.00%</td>
                                <td class="text-end">17.55</td>
                                <td class="text-end">35.10</td>
                            </tr>
                            <tr>
                                <td>Grand Total</td>
                                <td>195.00</td>
                                <td class="text-end" colspan="2">17.55</td>
                                <td class="text-end" colspan="2">17.55</td>
                                <td class="text-end">35.10</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="8">
                                    Amount in words: Rupees Thirty-Five Onl
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="10">
                    <table class="table table-borderless">
                        <tr>
                            <th>
                                Bank A/c Name & No:
                            </th>
                            <th>
                                EO ENTERPRISES - 6447008700000187
                            </th>
                            <th>
                                RTGS/NEFT IFSC Code
                            </th>
                            <th>
                                PUNB0644700
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Bank Name & Branch
                            </th>
                            <th>
                                PUNJAB NATIONAL BANK - VELACHERRY
                            </th>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <table class="table table-borderless">
                        <tr>
                            <td>
                                <b>Terms & Conditions :</b>
                                <ol>
                                    <li>Goods once sold will not be taken back or exchanged.</li>
                                    <li>Seller is not responsible for any loss or damaged of goods in transit.</li>
                                    <li>Buyer undertakes to submit prescribed ST declaration to sender on</li>
                                </ol>
                            </td>
                            <td>
                                <b>E &O.E</b>
                                <br><br><br><br>
                                Receiver's Signature
                            </td>
                            <td>
                                <b>For Geo Enterprises</b>
                                <br><br><br><br>
                                Authorized Signature
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>