.btn .ripple{
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  transform: scale(0);
  animation: ripple 0.6s linear;
}

@keyframes ripple{
  to{
    transform: scale(2.5);
    opacity: 0;
  }
}

.btn-primary {
  background-image: linear-gradient(to right, #00c6ff 0%, #006BDF 51%, #00c6ff 100%);
  background-size: 200% auto;
  color: white !important;
  box-shadow: 2px 4px 10px 0px rgb(0 0 0 / 20%);
  transition: all .5s !important;
  font-weight: 500 !important;
  padding: 11px 25px !important;
  font-size: 1rem !important;
}
.btn-primary:hover {
  background-position: right center;
  transition: 0.5s;
}

.btn-dark {
  background-image: linear-gradient(to right, #517fa4 0%, #243949 51%, #517fa4 100%);
  background-size: 200% auto;
  color: white !important;
  box-shadow: 2px 4px 10px 0px rgb(0 0 0 / 20%);
  transition: all .5s !important;
  font-weight: 500 !important;
  padding: 11px 25px !important;
  font-size: 1rem !important;

}
.btn-dark:hover {
  background-position: right center;
  transition: 0.5s;
}
#LandingBannnerSlider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.bg-dark-50 {
  background: #000000e5 !important;
  border-bottom: 2px solid var(--bs-primary) !important;
}
.nav-link.active {
  color: var(--bs-primary) !important;
  font-weight: bold !important;
}

.nav-link {
  position: relative;
  color: gray !important;
}


.nav-link::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -20px);
  width: 40px;
  border-top: 1px solid var(--bs-primary);
  opacity: 0;
  transition: all .5s;
}

.nav-item:hover .nav-link::after {
  transform: translate(-50%, -0px) !important;
  opacity: 1 !important;
  transition: all .5s;
}
.nav-item:hover .nav-link{
  color: white !important;
}

.nav-link.active::after {
  transform: translate(-50%, -0px) !important;
  opacity: 1 !important;
  transition: all .5s;

}

.slider-img {
  height: 100% !important;
}
.blog-img {
  max-height: 220px !important;
  min-height: 220px !important;
  width: 100% !important;
  object-fit: cover;
}

.btn-outline-primary:hover {
  background-image: linear-gradient(to right, #00c6ff 0%, #006BDF 51%, #00c6ff 100%);
  background-size: 200% auto;
}